* {
	margin: 0;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.text-center {
	text-align: center;
}
.img-responsive {
	width: 100%;
	margin: auto;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
section {
	background-color: #CCC;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 25px;
	margin-bottom: 25px;	
}



/* Grid stuff */
.col-sm-3 {
	width: 33.33333%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-sm-4 {
	width: 25%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-sm-8 {
	width: 65%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-sm-12 {
	width: 100%;
}

.page-title {
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
	margin-bottom: 20px;
}